.calendar-list
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 300px;
}
.date-name
{
    width: 160px;
}
.prev
{
    display: inline-block;
}
.date-name
{
    display: inline-block;
}
.next
{
display: inline-block;
}
