.calendar-list
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 300px;
}
.calendar-list-months
{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    max-width: 300px;
}
.calendar-list-element-year
{
    padding: 5px;
}
.date-name
{
    width: auto;
}
.prev
{
    display: inline-block;
}
.date-name
{
    display: inline-block;
}
.next
{
display: inline-block;
}
